@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var rootModel = (Model.AncestorOrSelf<HomePage>());
    var facebookUrl = (rootModel.LinkFacebook != null ? (!string.IsNullOrEmpty(rootModel.LinkFacebook.Url) ? rootModel.LinkFacebook.Url.ToString() : "#") : null);
    var twitterUrl = (rootModel.LinkTwitter != null ? (!string.IsNullOrEmpty(@rootModel.LinkTwitter.Url) ? @rootModel.LinkTwitter.Url : "#") : null);
    var linkedInurl = (rootModel.LinkLinkedin != null ? (!string.IsNullOrEmpty(@rootModel.LinkLinkedin.Url) ? @rootModel.LinkLinkedin.Url : "#") : null);
}
@if(facebookUrl != null || twitterUrl != null || linkedInurl!= null || !string.IsNullOrEmpty(rootModel.FooterText.ToString()))
{
 <footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <ul class="social">
                    @{
                        if (!string.IsNullOrEmpty(facebookUrl))
                        {
                            <li><a href="@facebookUrl"><i class="fa fa-facebook"></i></a></li>
                        }
                        if (!string.IsNullOrEmpty(twitterUrl))
                        {
                            <li><a href="@twitterUrl"><i class="fa fa-twitter"></i></a></li>
                        }
                        if (!string.IsNullOrEmpty(linkedInurl))
                        {
                            <li><a href="@linkedInurl"><i class="fa fa-linkedin"></i></a></li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 pt-4 pb-4">
                @((rootModel.FooterText != null || rootModel.FooterText.ToString() != "") ? rootModel.FooterText  : "Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo")
            </div>
        </div>
    </div>
</footer>
}
